$primaryColor: #e5e5e5;
$darkBodyColor: #272929;
$darkFooterColor: #1c1d1e;

$mainTextColor: #ffffff;
$titleTextColor: #000000;
$descrTextColor: #ff6b08;
$textColor: #8c8c8c;
$decorTextColor: #ff001b;
$footerTextColor: #545454;

$mainBtnBgColor: #ff6b01;
$btnHoverColor: #ffffff;
$btnDarkColor: #000000;
$btnDarkBorderColor: #000000;
$btnLightColor: #ffffff;
$btnLightBorderColor: #ffffff;

$hooverDuration: 250ms;
$hoverTimeFunction: cubic-bezier(0.4, 0, 0.2, 1);

$modalBgColor: #ffffff;
$modalOverlayBgColor: rgba(#000000, 0.25);
