<div class="footer">
  <p class="footer__text">© 2022 | All Rights Reserved |</p>
  <p class="footer__text">
    &nbsp;<span class="footer__developed">Developed with</span>
    <img
      src="./images/favorite.svg"
      width="14"
      alt="Dream Team with Love to GoIt"
    />
    <span class="footer__text-by">by</span>
    <a
      class="footer__link"
      href="https://goit.ua/"
      target="_blank"
      rel="noreferrer noopener"
    >
      <span class="footer__text--begin">&nbsp;Go</span
      ><span class="footer__text--end">IT</span></a
    >
    <a class="footer__link" href="#" data-students-modal-open
      >&nbsp;DreamTeam</a
    >
  </p>
</div>
