<!-- OUR TEAM MODAL-->
<div class="team-backdrop visually-hidden" data-students-modal>
  <div class="team-modal">
    <button
      type="button"
      class="team-modal-close-btn"
      data-students-modal-close
    >
      <svg class="icon--close">
        <use href="/src/images/symbol-defsR.svg#icon-clossed"></use>
      </svg>
    </button>

    <h2 class="team-modal__title">Our team</h2>
    <ul class="team-modal__list">
      <li class="team-modal__list-item">
        <img
          src="./images/cards/mariana.jpg"
          alt="Mariana Diachun"
          width="130"
          height="130"
          loading="lazy"
        />
        <div class="team-wrap">
          <h3 class="team-wrap__title">Mariana Diachun</h3>
          <p class="team-wrap__text">Team Lead</p>
          <a
            class="socials__link"
            href="https://github.com/Mariana-Diachun"
            target="_blank"
            rel="noopener norefferel"
            aria-label="github"
          >
            <svg class="footer__sl-svg" width="18" height="18">
              <use href="/src/images/symbol-defsR.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-modal__list-item">
        <img
          src="./images/cards/jenia.jpg"
          alt="Yevhen Arkhipov"
          width="130"
          height="130"
          loading="lazy"
        />
        <div class="team-wrap">
          <h3 class="team-wrap__title">Yevhen Arkhipov</h3>
          <p class="team-wrap__text">Scrum Master</p>
          <a
            class="socials__link"
            href="https://github.com/yevhen-arkhipov"
            target="_blank"
            rel="noopener norefferel"
            aria-label="github"
          >
            <svg class="footer__sl-svg" width="18" height="18">
              <use href="/src/images/symbol-defsR.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-modal__list-item">
        <img
          src="./images/cards/alla.jpg"
          alt="Alla Goptsii"
          width="130"
          height="130"
          loading="lazy"
        />
        <div class="team-wrap">
          <h3 class="team-wrap__title">Alla Goptsii</h3>
          <p class="team-wrap__text">Developer</p>
          <a
            class="socials__link"
            href="https://github.com/Alla-Goptsii"
            target="_blank"
            rel="noopener norefferel"
            aria-label="github"
          >
            <svg class="footer__sl-svg" width="18" height="18">
              <use href="/src/images/symbol-defsR.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-modal__list-item">
        <img
          src="./images/cards/alex.jpg"
          alt="Alexandr Nechuhaev"
          width="130"
          height="130"
          loading="lazy"
        />
        <div class="team-wrap">
          <h3 class="team-wrap__title">Alexandr Nechuhaev</h3>
          <p class="team-wrap__text">Developer</p>
          <a
            class="socials__link"
            href="https://github.com/Nechuhaev"
            target="_blank"
            rel="noopener norefferel"
            aria-label="github"
          >
            <svg class="footer__sl-svg" width="18" height="18">
              <use href="/src/images/symbol-defsR.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-modal__list-item">
        <img
          src="./images/cards/tania.jpg"
          alt="Tatyana Zaytseva"
          width="130"
          height="130"
          loading="lazy"
        />
        <div class="team-wrap">
          <h3 class="team-wrap__title">Tatyana Zaytseva</h3>
          <p class="team-wrap__text">Developer</p>
          <a
            class="socials__link"
            href="https://github.com/TatyanaZaytseva"
            target="_blank"
            rel="noopener norefferel"
            aria-label="github"
          >
            <svg class="footer__sl-svg" width="18" height="18">
              <use href="/src/images/symbol-defsR.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-modal__list-item">
        <img
          src="./images/cards/tania2.jpg"
          alt="Tanya Korobko"
          width="130"
          height="130"
          loading="lazy"
        />
        <div class="team-wrap">
          <h3 class="team-wrap__title">Tanya Korobko</h3>
          <p class="team-wrap__text">Developer</p>
          <a
            class="socials__link"
            href="https://github.com/TaKosss"
            target="_blank"
            rel="noopener norefferel"
            aria-label="github"
          >
            <svg class="footer__sl-svg" width="18" height="18">
              <use href="/src/images/symbol-defsR.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-modal__list-item">
        <img
          src="./images/cards/valeriy.jpg"
          alt="Valeriy Nizovtsev"
          width="130"
          height="130"
          loading="lazy"
        />
        <div class="team-wrap">
          <h3 class="team-wrap__title">Valeriy Nizovtsev</h3>
          <p class="team-wrap__text">Developer</p>
          <a
            class="socials__link"
            href="https://github.com/ValeriyNiz"
            target="_blank"
            rel="noopener norefferel"
            aria-label="github"
          >
            <svg class="footer__sl-svg" width="18" height="18">
              <use href="/src/images/symbol-defsR.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-modal__list-item">
        <img
          src="./images/cards/roma.jpg"
          alt="Roma Bakalets"
          width="130"
          height="130"
          loading="lazy"
        />
        <div class="team-wrap">
          <h3 class="team-wrap__title">Roma Bakalets</h3>
          <p class="team-wrap__text">Developer</p>
          <a
            class="socials__link"
            href="https://github.com/Alla-Goptsii"
            target="_blank"
            rel="noopener norefferel"
            aria-label="github"
          >
            <svg class="footer__sl-svg" width="18" height="18">
              <use href="/src/images/symbol-defsR.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="team-modal__list-item">
        <img
          src="./images/cards/vitaliy.jpg"
          alt="Vitaliy Yushkov"
          width="130"
          height="130"
          loading="lazy"
        />
        <div class="team-wrap">
          <h3 class="team-wrap__title">Vitaliy Yushkov</h3>
          <p class="team-wrap__text">Developer</p>
          <a
            class="socials__link"
            href="https://github.com/Yushkov88"
            target="_blank"
            rel="noopener norefferel"
            aria-label="github"
          >
            <svg class="footer__sl-svg" width="18" height="18">
              <use href="/src/images/symbol-defsR.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-modal__list-item">
        <img
          src="./images/cards/viktor.jpg"
          alt="Viktor Olefir"
          width="130"
          height="130"
          loading="lazy"
        />
        <div class="team-wrap">
          <h3 class="team-wrap__title">Viktor Olefir</h3>
          <p class="team-wrap__text">Developer</p>
          <a
            class="socials__link"
            href="https://github.com/VictorOlefir"
            target="_blank"
            rel="noopener norefferel"
            aria-label="github"
          >
            <svg class="footer__sl-svg" width="18" height="18">
              <use href="/src/images/symbol-defsR.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
