.library {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
    padding-top: 60px;
  }
  @media screen and (min-width: 1280px) {
    margin: -8px;
  }
}

.library__card {
  @media screen and (min-width: 768px) {
    margin: 16px;
    width: calc((100% - 96px) / 2);
  }
  @media screen and (min-width: 1280px) {
    margin: 8px;
    width: calc((100% - 96px) / 3);
  }
}

.empty-page {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  // height: 100%;
  @include tablet {
    width: 95%;
  }

  @include desktop {
    width: 65%;
  }
}
